<div class="container page">
  <div class="row">
    <div class="col-lg-8">
      <h3 class="pull-left"> Certificates </h3>

      <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Certificae Name</th>
          <th>Status</th>
          <th>Results</th>
          <th>Pulished Date</th>
          <th>Last Edited by</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td><a href="">Green Labs certificate Application - 2014</a></td>
          <td>Published</td>
          <td><a href=""> Results </a></td>
          <td><a href=""> 26th Nov 2014 </a></td>
          <td><a href=""> Siddu </a></td>
        </tr>
        <tr>
          <td>2</td>
          <td><a href="">Green Office certificate Application - 2014</a></td>
          <td>Draft</td>
          <td><a href=""> Results </a></td>
          <td><a href=""> 26th Nov 2014 </a></td>
          <td><a href=""> Siddu </a></td>
        </tr>
        <tr>
          <td>3</td>
          <td><a href="">Green Office certificate Application - 2012</a></td>
          <td>Draft</td>
          <td><a href=""> Results </a></td>
          <td><a href=""> 26th Nov 2014 </a></td>
          <td><a href=""> Siddu </a></td>
        </tr>
        <tr>
          <td>4</td>
          <td><a href="">Green Office certificate - 2011</a></td>
          <td>Draft</td>
          <td><a href=""> Published </a></td>
          <td><a href=""> 26th Nov 2014 </a></td>
          <td><a href=""> Siddu </a></td>
        </tr>
        <tr>
          <td>5</td>
          <td><a href="">Green Office certificate Application - 2013</a></td>
          <td>Draft</td>
          <td><a href=""> Published </a></td>
          <td><a href=""> 26th Nov 2014 </a></td>
          <td><a href=""> Siddu </a></td>
        </tr>

        <tr>
          <td>6</td>
          <td><a href="">Green Office Application - 2015</a></td>
          <td>Draft</td>
          <td><a href=""> Published </a></td>
          <td><a href=""> 26th Nov 2014 </a></td>
          <td><a href=""> Siddu </a></td>
        </tr>


      </tbody>
    </table>
    </div>
  <div class="col-lg-4">
    <h3></h3>
    <br><br>
    <!-- Split button -->
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="btn-group">
      <button type="button" class="btn btn-info">Create a new form</button>
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Clone from previous form</a></li>
        <li><a href="#">Start a new </a></li>
      </ul>
    </div>

  </div>

  </div>
</div>
